body,html{
    height: 100%;
}

body{
    margin: auto;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

button{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100px;
    border-radius: 8px;
}

.main{
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 5%;
}

.option{
    margin-right: 60px;
    width: 100px;
    max-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.grid-container{
    display: grid;
    gap: 0px;
    grid-auto-rows:minmax(1px,auto);
    grid-auto-columns: minmax(1px,auto);
    border-style: solid;
    border: 10px;
    border-color: black;
    height: 600px;
    width: 600px;
    max-height: 600px;
    max-width: 600px;
}